.App {
  min-height: 100vh;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    padding: 100px;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button {
  background-color: red;
  padding: 10px 20px;
  color: white;
  border: none;
}

.search-bar {
  width: 70%;
  border: none;
  padding: 10px;
}

.recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
